In [1]:
library(DBI)
library(RMySQL)

In [2]:
con <- DBI::dbConnect(drv=RMySQL::MySQL(), 
                      dbname="classicmodels",
                      host="127.0.0.1", 
                      username="root", 
                      password="gotohome")

In [3]:
con2 <- DBI::dbConnect(drv=RMySQL::MySQL(), 
                      dbname="sys",
                      host="127.0.0.1", 
                      username="root", 
                      password="gotohome")

In [4]:
A = DBI::dbGetQuery(con, "show tables;")

In [8]:
print(a)

   Tables_in_classicmodels
1               committees
2                customers
3                employees
4                  members
5                  offices
6             orderdetails
7                   orders
8                 payments
9             productlines
10                products

In [10]:
B = DBI::dbGetQuery(con, "select * from employees where employeeNumber > 1500;")

In [11]:
print(B)

  employeeNumber lastName firstName extension                        email
1           1501     Bott     Larry     x2311   lbott@classicmodelcars.com
2           1504    Jones     Barry      x102  bjones@classicmodelcars.com
3           1611   Fixter      Andy      x101 afixter@classicmodelcars.com
4           1612    Marsh     Peter      x102  pmarsh@classicmodelcars.com
5           1619     King       Tom      x103   tking@classicmodelcars.com
6           1621    Nishi      Mami      x101  mnishi@classicmodelcars.com
7           1625     Kato   Yoshimi      x102   ykato@classicmodelcars.com
8           1702   Gerard    Martin     x2312 mgerard@classicmodelcars.com
  officeCode reportsTo  jobTitle
1          7      1102 Sales Rep
2          7      1102 Sales Rep
3          6      1088 Sales Rep
4          6      1088 Sales Rep
5          6      1088 Sales Rep
6          5      1056 Sales Rep
7          5      1621 Sales Rep
8          4      1102 Sales Rep

In [12]:
library(xlsx)

In [15]:
xlsx::write.xlsx(x = B, file = "/home/alan/lab/playground/learning_r-master/test.xlsx")