In [1]:
library(DBI)
library(RMySQL)

In [2]:
con <- DBI::dbConnect(drv=RMySQL::MySQL(), 
                      dbname="classicmodels",
                      host="127.0.0.1", 
                      username="root", 
                      password="password")

In [3]:
A = DBI::dbGetQuery(con, "show tables;")

In [4]:
print(A)

  Tables_in_classicmodels
1               customers
2               employees
3                 offices
4            orderdetails
5                  orders
6                payments
7            productlines
8                products

In [5]:
B = DBI::dbGetQuery(con, "select * from employees;")

In [6]:
print(B)

   employeeNumber  lastName firstName extension                           email
1            1002    Murphy     Diane     x5800    dmurphy@classicmodelcars.com
2            1056 Patterson      Mary     x4611  mpatterso@classicmodelcars.com
3            1076  Firrelli      Jeff     x9273  jfirrelli@classicmodelcars.com
4            1088 Patterson   William     x4871 wpatterson@classicmodelcars.com
5            1102    Bondur    Gerard     x5408    gbondur@classicmodelcars.com
6            1143       Bow   Anthony     x5428       abow@classicmodelcars.com
7            1165  Jennings    Leslie     x3291  ljennings@classicmodelcars.com
8            1166  Thompson    Leslie     x4065  lthompson@classicmodelcars.com
9            1188  Firrelli     Julie     x2173  jfirrelli@classicmodelcars.com
10           1216 Patterson     Steve     x4334 spatterson@classicmodelcars.com
11           1286     Tseng  Foon Yue     x2248     ftseng@classicmodelcars.com
12           1323    Vanauf    George     x4102    gvanauf@classicmodelcars.com
13           1337    Bondur      Loui     x6493    lbondur@classicmodelcars.com
14           1370 Hernandez    Gerard     x2028  ghernande@classicmodelcars.com
15           1401  Castillo    Pamela     x2759  pcastillo@classicmodelcars.com
16           1501      Bott     Larry     x2311      lbott@classicmodelcars.com
17           1504     Jones     Barry      x102     bjones@classicmodelcars.com
18           1611    Fixter      Andy      x101    afixter@classicmodelcars.com
19           1612     Marsh     Peter      x102     pmarsh@classicmodelcars.com
20           1619      King       Tom      x103      tking@classicmodelcars.com
21           1621     Nishi      Mami      x101     mnishi@classicmodelcars.com
22           1625      Kato   Yoshimi      x102      ykato@classicmodelcars.com
23           1702    Gerard    Martin     x2312    mgerard@classicmodelcars.com
   officeCode reportsTo             jobTitle
1           1        NA            President
2           1      1002             VP Sales
3           1      1002         VP Marketing
4           6      1056 Sales Manager (APAC)
5           4      1056  Sale Manager (EMEA)
6           1      1056   Sales Manager (NA)
7           1      1143            Sales Rep
8           1      1143            Sales Rep
9           2      1143            Sales Rep
10          2      1143            Sales Rep
11          3      1143            Sales Rep
12          3      1143            Sales Rep
13          4      1102            Sales Rep
14          4      1102            Sales Rep
15          4      1102            Sales Rep
16          7      1102            Sales Rep
17          7      1102            Sales Rep
18          6      1088            Sales Rep
19          6      1088            Sales Rep
20          6      1088            Sales Rep
21          5      1056            Sales Rep
22          5      1621            Sales Rep
23          4      1102            Sales Rep