In [1]:
library(DBI)
library(RMySQL)
library(dplyr, warn.conflicts = FALSE)

In [2]:
con <- DBI::dbConnect(drv=RMySQL::MySQL(), 
                      dbname="classicmodels",
                      host="127.0.0.1", 
                      username="root", 
                      password="password")

In [3]:
dbListTables(con)

[1] "customers"    "employees"    "offices"      "orderdetails" "orders"
[6] "payments"     "productlines" "products"

In [4]:
office_table <- tbl(con, "offices")

In [5]:
print(office_table)

# Source:   table<offices> [?? x 9]
# Database: mysql 8.0.20 [root@127.0.0.1:/classicmodels]
  officeCode city  phone addressLine1 addressLine2 state country postalCode
  <chr>      <chr> <chr> <chr>        <chr>        <chr> <chr>   <chr>
1 1          San … +1 6… 100 Market … Suite 300    CA    USA     94080
2 2          Bost… +1 2… 1550 Court … Suite 102    MA    USA     02107
3 3          NYC   +1 2… 523 East 53… apt. 5A      NY    USA     10022
4 4          Paris +33 … 43 Rue Jouf… NA           NA    France  75017
5 5          Tokyo +81 … 4-1 Kioicho  NA           Chiy… Japan   102-8578
6 6          Sydn… +61 … 5-11 Wentwo… Floor #2     NA    Austra… NSW 2010
7 7          Lond… +44 … 25 Old Broa… Level 7      NA    UK      EC2N 1HN
# … with 1 more variable: territory <chr>

In [6]:
office_table %>% select(officeCode, city)

# Source:   lazy query [?? x 2]
# Database: mysql 8.0.20 [root@127.0.0.1:/classicmodels]
  officeCode city
  <chr>      <chr>
1 1          San Francisco
2 2          Boston
3 3          NYC
4 4          Paris
5 5          Tokyo
6 6          Sydney
7 7          London